body{
    background: linear-gradient(to bottom, #dae3ea 0%, #d0d3d5 100%);
   overflow-x: hidden;
   user-select: none;

}
.cartimg{
    width: 25px;
    height: 25px;

}
.cato-img{
    height: 73px;
    width:73px;
    border-radius: 50%;
}

#top-header {
   
    background-color: #1E1F29;
  }
  .header-links {
    list-style: none;
    padding: 0;
    margin: 0;
   
}
  
  .header-links li {
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
  }
  
 
  
  .header-links li a {
    color: #FFF;
    margin-inline-end: 0;
  }
  
  .header-links li a:hover {
    color: #D10024;
  
  }
  
  .header-links li i {
    color: #D10024;
    margin-right: 5px;
  }
  
  .profile_img{
    width:150px;
     border-radius: 50%;

  }

 
  .archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  